{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('addressBookList') }}" title="Home page">Home</a></li>
        <li class="active">Create</li>
    </ol>

    <h2 class="page-header">Create Address Book</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}