{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('addressBookList') }}" title="Address Book List">Home</a></li>
        <li class="active">Edit</li>
    </ol>

    <h2 class="page-header">Edit Address Book</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}