{% extends 'base.html.twig' %}
{% block body %}
    </br></br></br></br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Street</th>
            <th>Zip</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Birthday</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for addressBook in addressBooks %}
            <tr>
                <td scope="row">{{addressBook.id}}</td>
                <td>{{addressBook.firstname}}</td>
                <td>{{addressBook.lastname}}</td>
                <td>{{addressBook.street}}</td>
                <td>{{addressBook.zip}}</td>
                <td>{{addressBook.city}}</td>
                <td>{{addressBook.country}}</td>
                <td>{{addressBook.phonenumber}}</td>
                <td>{{addressBook.birthday|date('Y-m-d')}}</td>
                <td>{{addressBook.email}}</td>
                <td>
                    <a href="{{ path('addressBookShow', {id: addressBook.id })}}" class="btn btn-success">View</a>
                    <a href="{{ path('addressBookEdit', {id: addressBook.id })}}" class="btn btn-success">Edit</a>
                    <a href="{{ path('addressBookDelete', {id: addressBook.id })}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
