{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('addressBookList') }}" title="Home page">Home</a></li>
        <li class="active">Show</li>
    </ol>
<h2 class="page-header">Address Book Item</h2>
<ul class="list-group">
    <li class="list-group-item">Firstname : {{addressBook.firstname}}</li>
    <li class="list-group-item">Lastname : {{addressBook.lastname}}</li>
    <li class="list-group-item">Street : {{addressBook.street}}</li>
    <li class="list-group-item">Zip : {{addressBook.zip}}</li>
    <li class="list-group-item">City : {{addressBook.city}}</li>
    <li class="list-group-item">Country : {{addressBook.country}}</li>
    <li class="list-group-item">Phone : {{addressBook.phonenumber}}</li>
    <li class="list-group-item">Birthday : {{addressBook.birthday|date('Y-m-d')}}</li>
    <li class="list-group-item">Email : {{addressBook.email}}</li>
</ul>
<br/><a href="{{ path('addressBookList') }}" class="btn btn-default">Back to Address Book List</a>
{% endblock %}